{
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		}
	]
}
